%h1 Listing trends

%table
  %thead
    %tr
      %th Trend
      %th Currency Pair
      %th Fundamental
      %th Profit
      %th

  %tbody
    - @trends.each do |trend|
      %tr
        %td= trend.kind
        %td= trend.rate.currency_pair
        %td= trend.fundamental
        %td= trend.profit
        %td= link_to 'Edit', edit_trend_path(trend)

= link_to 'logout', destroy_user_session_path, method: :delete
